.appBoxWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  & p {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 400;
    padding-bottom: 2.4rem;
  }
  .appBoxInner {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}