.tabBtn {
  width: 15.6rem;
  height: 3.7rem;
  border-radius: 33px;
  border: 1px solid transparent;
  margin-bottom: 5.5rem;
  & p {
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1.1rem;
    text-transform: uppercase;
  }
}