.inputWrap {
  width: 100%;
  background: #EFEFEF;
  height: 82px;
  border-radius: 8px;
  color: #909090;
  display: flex;
  align-items: center;
  & .ant-input-outlined {
    padding: 0;
  }
  & span {
    background: #EFEFEF;
    border: none;
    &:focus-within {
      background: #EFEFEF;
      border: none;
      outline: none;
      box-shadow: none!important;
    }
    &:hover {
      background: #EFEFEF;
      border: none;
    }
  }
  & svg {
    fill: #777777;
    width: 24px;
    height: 24px;
  }
}