.formWrap {
    width: 33.9rem;
    & .link {
        padding: .8rem 0 4.9rem;
        display: block;
        font-family: Lato, sans-serif;
        text-align: center;
        color: #010101;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
}