.inputWrap {
  position: relative;
  width: 100%;
  background: #EFEFEF;
  height: 8.2rem;
  border-radius: 8px;
  color: #909090;
  margin-bottom: 2.1rem;
  & input {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 300;
  }
  & .inputInner {
    width: 90%;
    position: relative;
    top: 2.8rem;
    left: 1.8rem;
    & span {
      padding: 0;
      background: #EFEFEF!important;
      border-width: 0!important;
      border-style: none!important;
      border-color: transparent!important;
      box-shadow: none!important;
      & img {
        margin-right: 1.2rem;
      }
    }
  }
}