.registerBoxWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.7rem 0 8.3rem;
  font-family: Lato, sans-serif;
  & p {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.56rem;
    color: #000000;
    margin-bottom: .7rem;
  }
  & a {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #DC0000;
    transition: .3s;
    &:hover {
      color: #010101;
    }
  }
}